#body {
  font-family: 'Noto Sans JP', sans-serif;
}

div .branding {
  color: #7C63FF;
}
.branding {
  font-family: 'Source Code Pro', monospace !important;
}

footer {
  background-color: black;
  color: #7C63FF;
}

footer i {
  color: #7C63FF;
}
button i {
  color: #7C63FF;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

h3 {
  font-family: 'Russo One', sans-serif;
}

.btn {
  font-family: 'Russo One', sans-serif;
}

.btn-purple {
  background-color: #7C63FF !important;
  color: black !important;
  border-color: black !important;
}
.btn-purple:hover {
  background-color: #725ae9 !important;
}
.btn-purple i {
  color: black !important;
}

.text-purple {
  color: #7C63FF;
}

a:hover {
  color: #6d56df !important;
  text-decoration: none !important;
}

a .active {
  color: #7C63FF;
}

.card-header {
  background-color: #f1eeff !important;
}

.form-control {
  border-color: #7C63FF !important;
}