body {
  font-family: "Squada One",sans-serif;
  background: #504323;
  color: #FFFFC7;
}

.rotation {
  display: table;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rotation a {
  display: table-cell;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), text-shadow 0.5s;
  color: #FFFFC7;
  text-shadow: 0 0 20px #FFFF7C, 0 0 20px rgba(226, 230, 10, 0);
  box-shadow: 0 0 0 rgba(226, 230, 10, 0), inset 0 0 0 rgba(226, 230, 10, 0);
  background-image: radial-gradient(center, ellipse cover, rgba(226, 230, 10, 0) 0%, rgba(226, 230, 10, 0) 90%);
  border: 0 dotted rgba(226, 230, 10, 0);
}
.rotation a:hover {
  color: #fff;
  text-shadow: 0 0 50px #FFFF7C, 0 0 50px #FFFF7C;
  background-image: radial-gradient(center, ellipse cover, rgba(226, 230, 10, 0.3) 0%, rgba(10, 175, 230, 0) 60%);
}
.rotation:before, .rotation:after, .rotation a:before, .rotation a:after {
  transition: 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 60px dashed transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rotation:before {
  animation: rotate 20s linear 0s infinite;
  width: 180%;
  height: 180%;
  border: 3px dotted rgba(226, 230, 10, 0);
  z-index: -1;
}
.rotation:after {
  animation: rotate 10s linear 0s infinite reverse;
  border: 80px dashed rgba(226, 230, 10, 0);
  width: 160%;
  height: 160%;
  z-index: -2;
}
.rotation a:before {
  animation: rotate 5s ease-in-out 0s infinite alternate;
  width: 120%;
  height: 120%;
  border: 50px dashed rgba(226, 230, 10, 0);
}
.rotation a:after {
  animation: rotate 5s linear 0s infinite;
  border: 18px dashed rgba(226, 230, 10, 0);
  width: 120%;
  height: 120%;
}
.rotation:hover:before {
  border-color: rgba(226, 230, 10, 0.3);
}
.rotation:hover:after {
  border-color: rgba(226, 230, 10, 0.1);
}
.rotation:hover a:before {
  border-color: rgba(226, 230, 10, 0.3);
}
.rotation:hover a:after {
  border-color: rgba(226, 230, 10, 0.3);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
p.caption {
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50px;
  letter-spacing: 0.2em;
  text-shadow: 0 0 20px #FFFF7C, 0 0 20px rgba(226, 230, 10, 0);
}