* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Squada One",sans-serif;
  background: #1e183f;
  color: #d4c7ff;
}

.rotation {
  display: table;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.rotation a {
  display: table-cell;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), text-shadow 0.5s;
  color: #d4c7ff;
  text-shadow: 0 0 20px #9f7cff, 0 0 20px rgba(96, 57, 224, 0);
  box-shadow: 0 0 0 rgba(61, 10, 230, 0), inset 0 0 0 rgba(61, 10, 230, 0);
  background-image: radial-gradient(center, ellipse cover, rgba(61, 10, 230, 0) 0%, rgba(61, 10, 230, 0) 90%);
  border: 0 dotted rgba(61, 10, 230, 0);
}
.rotation a:hover {
  color: #fff;
  text-shadow: 0 0 50px #9f7cff, 0 0 50px #9f7cff;
  background-image: radial-gradient(center, ellipse cover, rgba(61, 10, 230, 0.3) 0%, rgba(61, 10, 230, 0) 60%);
}
.rotation:before, .rotation:after, .rotation a:before, .rotation a:after {
  transition: 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 60px dashed transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rotation:before {
  animation: rotate 20s linear 0s infinite;
  width: 180%;
  height: 180%;
  border: 3px dotted rgba(61, 10, 230, 0);
  z-index: -1;
}
.rotation:after {
  animation: rotate 10s linear 0s infinite reverse;
  border: 80px dashed rgba(61, 10, 230, 0);
  width: 160%;
  height: 160%;
  z-index: -2;
}
.rotation a {
  cursor: pointer;
}
.rotation a:before {
  animation: rotate 5s ease-in-out 0s infinite alternate;
  width: 120%;
  height: 120%;
  border: 50px dashed rgba(61, 10, 230, 0);
}
.rotation a:after {
  animation: rotate 5s linear 0s infinite;
  border: 18px dashed rgba(61, 10, 230, 0);
  width: 120%;
  height: 120%;
}
.rotation:hover:before {
  border-color: rgba(61, 10, 230, 0.3);
}
.rotation:hover:after {
  border-color: rgba(61, 10, 230, 0.1);
}
.rotation:hover a:before {
  border-color: rgba(61, 10, 230, 0.3);
}
.rotation:hover a:after {
  border-color: rgba(61, 10, 230, 0.3);
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

p.caption {
  margin: 100px auto;
  font-size: 40px;
  text-align: center;
  width: 100%;
  letter-spacing: 0.2em;
  animation: slideIn 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  color: gray;
  white-space: normal;
}
@keyframes slideIn {
  0% {
    transform: translateX(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}
p.caption span {
  padding: 10px;
  display: inline-block;
}
p.caption span.light {
  color: #d4c7ff;
  text-shadow: 0 0 20px #9f7cff, 0 0 20px rgba(61, 10, 230, 0);
}

.do-x {
  animation: do-x 2s cubic-bezier(.4, 0, .2, 1);
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
@keyframes do-x {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  
  100% {
    clip-path: circle(120% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}

.container {
  width: 400px;
  margin: calc(calc(100vh - 572px) / 2) auto;
}
.container a {
  animation: slideIn 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  min-width: 300px;
  display: block;
  display: flex;
  margin: 50px;
  padding: 15px 20px;
  border: 2px solid rgb(119, 0, 255);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
}
.container a:hover {
  background: rgb(119, 0, 255);
  color: #000;
  box-shadow: 0 0 10px rgb(119, 0, 255),
  0 0 20px rgb(119, 0, 255),
  0 0 40px rgb(119, 0, 255),
  0 0 80px rgb(119, 0, 255),
  0 0 1000px rgb(119, 0, 255);
}
.container a span.icon {
  position: relative;
  display: block;
  height: 30px;
}
.container a span.icon i.fas, .container a span.icon i.fab {
  font-size: 30px;
  line-height: 30px;
}
.container a span.title {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

@media (max-width: 400px) {
  .container {
    width: 100vw;
  }
  .container a {
    min-width: 190px;
  }
}
@media (max-width: 768px) {
  p.caption {
    font-size: 30px;
  }
}
@media (max-height: 666px) and (min-height: 568px) {
  p.caption {
    margin: 50px auto 0 auto;
  }
  .container {
    margin: calc(calc(100vh - 472px) / 2) auto;
  }
}
@media (max-width: 328px) {
  p.caption {
    margin: 50px auto 20px auto;
  }
  .container {
    margin: auto auto;
  }
}
@media (max-height: 568px) {
  p.caption {
    margin: 20px auto 5px auto;
  }
  .container {
    margin: auto auto;
  }
}
